name: Build & Deploy product-service

on:
  push:
    branches: [dev, main]

permissions:
  contents: read

concurrency:
  group: product-service-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: cloudshopt/infrastructure/.github/workflows/build-image.yaml@main
    with:
      prod_branch: main
      image_repository: timib22/cloudshopt-products-php
      dockerfile: .docker/php/prod.Dockerfile
      docker_context: .
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  deploy:
    needs: build
    uses: cloudshopt/infrastructure/.github/workflows/deploy-helm.yaml@main
    with:
      prod_branch: main

      infra_repo: cloudshopt/infrastructure
      infra_ref: main

      helm_chart_path: helm/product-service
      values_prod: helm/product-service/values.yaml
      values_dev: helm/product-service/values-dev.yaml

      namespace_prod: cloudshopt
      namespace_dev: cloudshopt-dev
      release_prod: product-service
      release_dev: product-service-dev

      image_repository: timib22/cloudshopt-products-php
      image_tag: ${{ needs.build.outputs.image_tag }}

      health_prod: http://app.timotejblazic.eu/api/products/info
      health_dev: http://app-dev.timotejblazic.eu/api/products/info

      k8s_secret_name: product-service-secrets

    secrets:
      KUBECONFIG_B64: ${{ secrets.KUBECONFIG_B64 }}

      DB_PASSWORD_PROD: ${{ secrets.PROD_DB_PASSWORD }}
      REDIS_PASSWORD_PROD: ${{ secrets.PROD_REDIS_PASSWORD }}
      DB_PASSWORD_DEV: ${{ secrets.DEV_DB_PASSWORD }}
      REDIS_PASSWORD_DEV: ${{ secrets.DEV_REDIS_PASSWORD }}